<h2>Add Celebrity to the movie</h2>

<form action="/movies/{{movie._id}}/addcelebrity" method="post">
  <label for="">Actor:</label>
  <input type="text" name="name">

  <label for="">Occupation:</label>
  <input type="text" name="occupation">

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase">


  <button type="submit">ADD</button>
</form>